# slab of fluid 0 (non-wetting, lighter) between y=512 and y=1536.
# TWO smoothed interfaces => no periodic-wrap discontinuity (see slab_interface).
px = 0
py = 512
pz = 0
nx = 0
ny = 1
nz = 0
thickness = 1024
