# dispersion campaign  rho1/rho0 = 1   (rho1 = wetting = denser)
# geometric centring: rho1=sqrt(R), rho0=1/sqrt(R)  -> rho_bar=1.0000
# Bo = a*ell^2*rho_bar/gamma = 0.5 with ell=6.45
rho0            = 1.000000
rho1            = 1.000000
tau0            = 0.9
tau1            = 0.9
density_solid   = 20.0
interface_width = 5.0
surface_tension = 0.0083
mobility_coeff  = 0.02
phi             = 0.024900000000000005
